In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/alibaba/data_20180915.tsv", sep='\t', header=0)

In [4]:
df

,timestamp,label,userid,featurecolumn_1,featurecolumn_2,featurecolumn_3,featurecolumn_4,featurecolumn_5,featurecolumn_6,featurecolumn_7
0,1536973620,1,182440,"6851,22270,36080,59463,51651,67809,54815,69022...","150930,143020,153664,153713,146741,155608,1552...",140178,"161613,160317","86157,84808,133093,96974,108183,83946,105339,1...","2773,4218","168881,166701,165219,180024,168620,180443,1762..."
1,1536975931,1,182870,"13633,55776,50439,16515,11566,73385,44465,1361...","148137,150092,147736,147296,155256,148936,1449...",140178,0,"129708,90738,109708,96573,129700,85291,108264,...",360,"173324,164942,168648,180074,171095,168436,1682..."
2,1536974625,1,186815,"55074,26988,13649,49149,39067,32767,15453,3691...","151983,149005,147773,148880,141448,152499,1550...","139936,137867,139925,140662",0,"106067,128849,101452,79470,93280,133917,89480,...",0,"164647,177918,175226,171966,165425,179074,1787..."
3,1537012686,1,183497,"76845,62386,12444,47035,27280,35433,21296,1314...","146232,156704,144894,148708,148840,151067,1516...","139505,140600,138091","160914,156865","115284,92292,79276,108666,108627,85345,89634,8...",2511,"169138,167618,174683,176504,166186,178908,1685..."
4,1537012119,1,186815,"55074,26988,13649,49149,39067,32767,15453,3691...","151983,149005,147773,148880,141448,152499,1550...","139936,137867,139925,140662",0,"106067,128849,101452,79470,93280,133917,89480,...",0,"164647,177918,175226,171966,165425,179074,1787..."
...,...,...,...,...,...,...,...,...,...,...
75958,1536981641,1,185906,"19108,72028,23626,49748,26396,47709,46103,2518...","154893,146964,151067,148225,152582,153582,1446...","140305,140304,139170",158117,"131044,134045,94323,83922,108212,81410,107184,...",1,"167269,172167,167885,177720,166139,166831,1774..."
75959,1536980506,1,182810,"76570,75678,8082,28529,63833,18154,44472,70941...","148137,153655,156283,145306,155701,143917,1409...","138101,139756,137720","162547,160350","130850,129115,80138,120467,120216,97278,129343...","1844,2732","163970,180180,168402,173256,168500,169782,1735..."
75960,1536982312,1,186276,"47143,40300,47023,33584,8766,9483,30823,72881,...","149578,156605,153152,145360,142078,147296,1510...","139084,138413",0,"121602,114961,132127,127472,121455,108575,1210...","1382,3401","165152,177163,167996,175353,165204,175894,1670..."
75961,1536980715,1,181563,"6735,37182,19608,65301,44848,8768,6486,67544,3...","156605,145926,146798,147066,142270,148539,1538...","140434,139102,138476,138415,137762",0,"85173,120664,80280,119357,78377,108394,80248,8...","893,747,1345,1245","177086,171796,163602,173358,166398,169005,1645..."
75962,1536980486,1,185438,"38228,7816,39401,7443,70475,44590,52547,23919,...","152601,152174,141328,154442,142270,147570,1510...","140178,138113,140517,139170,137726,139800,1385...",161394,"120028,93104,79171,113276,106913,79689,118810,...",3719,"171310,176504,170619,169957,178194,174064,1728..."